<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
@model IEnumerable<TaskManager.Models.User>
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/UserView.cshtml";
}

@if (Session["UserID"] != null)
{
    var userID = Session["UserID"];
    var username = Session["UserName"].ToString();
    var email = Session["UserEmail"].ToString();
    var usertype = Session["UserType"].ToString();
    <div id="pricing" class="pricing-tables">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="section-heading">
                        <h1 style="color:Background;">User Manager</h1>
                        <img src="~/Content/assets/images/heading-line-dec.png" alt="">
                        <h3>Welcome, @username! (@usertype)</h3>
                    </div>
                </div>
                @foreach (var item in Model)
                {
                    if (item.Status.Contains("Active"))
                    {
                        <div class="col-lg-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                            <div class="pricing-item-pro" style="background: #ffffff; box-shadow: 18px 18px 17px #d9d9d9; margin-bottom:2rem;" >
                                <span class="price">#@Html.DisplayFor(user => item.UserID)</span>
                                <h4> @Html.DisplayFor(user => item.FirstName) @Html.DisplayFor(user => item.LastName)</h4>
                                <div class="icon">
                                    <img src="~/Content/assets/images/user-icon.png" alt="" style="border-radius:1.5rem;">
                                </div>
                                <ul>
                                    <shadow><h5>@Html.DisplayFor(user => item.Email)</h5></shadow>
                                    <li>@Html.DisplayFor(user => item.UserType)</li>
                                </ul>
                                <div class="border-button">

                                    @Html.ActionLink("Edit", "EditUser", new { id = item.UserID })
                                    @Html.ActionLink("Details", "UserDetails", new { id = item.UserID })
                                </div>
                                <div class="gradient-button" style="margin-top:0.5rem;">
                                    @Html.ActionLink("Deactivate", "SoftDeleteUser", new { id = item.UserID })
                                </div>
                                <div style="padding-bottom:4rem;"></div>
                            </div>
                        </div>
                        <br /><br /><br /><br />
                    }
                }
            </div>
        </div>
    </div>
}
