@model IEnumerable<TaskManager.Models.RecycleBin>
@{
    ViewBag.Title = "Recycled Tasks";
    Layout = "~/Views/Shared/TaskView.cshtml";
}

@if (Session["UserID"] != null)
{
    var userID = Session["UserID"];
    var username = Session["UserName"].ToString();
    var email = Session["UserEmail"].ToString();
    var usertype = Session["UserType"].ToString();


<div id="Task_Table" class="pricing-tables wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                <div class="section-heading">
                    <h1 style="color:Background;">Deleted Tasks</h1>
                    <img src="~/Content/assets/images/heading-line-dec.png" alt="">
                    <h3>Welcome, @username! (@usertype)</h3>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-3" style="margin-bottom:2rem;">
                            <div class="service-item first-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                                <div class="icon">
                                </div>
                                <h3>@item.Name</h3>
                                <table class="table table-responsive table-hover" id="task_table">
                                    <thead>
                                        <tr>
                                            <td>
                                                <h6><strong>Task ID</strong></h6>
                                            </td>
                                            <td>
                                                <h7>@item.TaskID</h7>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h6><strong>From User</strong></h6>
                                            </td>
                                            <td>
                                                <h7>@item.UserID</h7>
                                            </td>
                                        </tr>
                                    </thead>
                                </table>
                                <p>@item.Description</p>
                                <h4>@item.Deadline</h4>


                                @*@Html.AntiForgeryToken()
                                <div class="border-button">
                                    @Html.ActionLink("Done", "FinishTask_Action", new { id = item.TaskID })
                                    @Html.ActionLink("Edit", "EditTask", new { id = item.TaskID })
                                    @Html.ActionLink("Details", "TaskDetails", new { id = item.TaskID })
                                </div>*@
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>
}